* {
	margin: 0;
	padding: 0;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid #FFFF00;
	padding: 10px;
}

.enlarge {
	height: 500px;
	width: 500px;
}

input[type="checkbox"] {
	margin-right: 5px;
}

div.wrapper {
	width: 100%;
   	height: auto;
}

input[type="text"] {
             display: block;
             margin : 0 auto;
}