<!DOCTYPE html>
<html>
<<head>
    <title>Register</title>
    <link href="/static/login.css" rel="stylesheet"/>
    <link rel="icon" href="/static/lock.png" type="image/gif">
</head>
<body>
    <header>
        <h1>Register</h1>
    </header>
    <main>
        <form id="login_form" class="form_class" action="/register" method="post">
            <div class="form_div">
                <label>Username</label>
                <input class="field_class" name="username" type="text" placeholder="Username" autofocus>
                <label>Password:</label>
                <input id="pass" class="field_class" name="password" type="password" placeholder="Password">
                <button class="submit_class" type="submit" form="login_form">Register</button>
            </div>
            <a href="/login" class="link-primary">Already have an account? Login.</a>
        </form>
    </main>
</body>
</html>